* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(white 60%, rgb(94, 91, 91));
   
}
.container {
    margin-top: 20px;
    padding: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(90, 175, 90);
}

img {
    width: 30vw;
    height: 30vh;
    margin-left: 50px;
}

li {
  list-style: none;
  display: inline;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
}

#keyboard button {
    width: 6rem;
    height:6rem;
    margin: 20px;
    background: rgb(87, 197, 87);
    border-radius: 5px;
    margin: 3px;
    font-size: 2rem;
    text-transform: uppercase;
}
#keyboard button:hover{
    background: rgb(90, 175, 90);
}
#resetButton {
    width: 15rem;
    height: 8rem;
    background: rgb(87, 197, 87);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 10%;
}
#resetButton:hover{
    background: rgb(90, 175, 90) ;
}

.resetButton {
    text-align: center;
}
#word {
    margin-top: 20px;
    font-size: 5rem;
    text-align: center;
}

.box {
    height: 7rem;
    width: 7rem;
    background:rgb(182, 211, 182);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    
}

.box li {
     
        display: inline-flex;
        font-size: 14px;

    }


p {
    text-align: center;
    font-size: 3rem;
}

@media only screen and (max-width: 40em) {
    
    body {
        background: rgb(238, 243, 238);
        height: 100%;
        margin: 2em;
    }
    
    .container {
        margin: 2em;
        margin-bottom: 1em;
        padding: 0;
        height: 600px;
        width: 70vw;
    }

    header {
        height: 7vh;
    }

    .boxes {
        width:100vw;
        margin-left: 0;
    }

    .img-container {
        height: 20vh;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
        margin-top: 2px;
    }

  
    h2 {
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    .guesses p {
        font-size: 1em;
        text-align: left;
        width: 50%;
    }
   
    #boxes {
        height: 40px;

    }
    #word {
        width: 90vw;
        margin: 0;
        display: flex;
        justify-content: center;
       
    }

    #word ul {
        width: 90vw;
      
    }

    .box {
        width: 2.4em;
        height: 3em;
        margin: 0;
    }

    #keyboard {
      width: 100vw;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 60vh;
      left: 0;
    }
    
    #button {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 2px;
    }

    #keyboard button {
        width: 1.5em;
        height: 1.5em;
        font-size: 1.8em;
    }

    #resetButton {
        margin-bottom: 2px;
        width: 50vw;
        height: 3em;
    }
    
  }