* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container {
    margin: 20px;
    padding: 50px;
}
h1 {
    text-align: center;
}

#keyboard button {
    width: 30px;
    height:30px;
    background: rgb(125, 196, 199);
    border-radius: 5px;
    margin: 3px;
    font-size: 1rem;
}
#keyboard button:hover{
    background: cadetblue;
}
#reset {
    width: 90px;
    height:30px;
    background: rgb(125, 196, 199);
    border-radius: 5px;
    margin-top: 20px;
}
#reset:hover{
    background: cadetblue;
}